---
import IOMenu from "../components/IOMenu.astro";
import Layout from "../layouts/Layout.astro";
import FlashcardsList from "../components/FlashcardsList.jsx";
---

<Layout title="CRUD Flashcards">
	<main class="w-full px-6 flex flex-col items-center mb-16">
		<h1 class="text-4xl font-bold my-6 text-slate-200">
			Create a new card here
		</h1>
		<section
			class="w-full flex flex-col items-center mt-16 border-slate-800 border-t-2"
		>
			<header
				class="flex flex-col justify-center items-center gap-4 my-6"
			>
				<h2 class="text-3xl text-slate-50">
					Input the JSON object in the text area below
				</h2>
				<p class="text-xl text-slate-200">
					Put quotes on the properties and don't forget the comma (as
					shown in home page).
				</p>
			</header>
			<textarea
				name="card"
				id="card"
				placeholder="Card JSON here..."
				class="p-4 w-4/5 min-h-64 my-8"></textarea>
			<button
				id="create-card"
				class="rounded-full font-semibold text-lg tracking-wide block py-3 px-6 text-slate-200 bg-slate-800 hover:bg-slate-700"
			>
				Create
			</button>
		</section>
		<section class="w-full mt-16 border-slate-800 border-t-2">
			<header
				class="flex flex-col justify-center items-center gap-4 my-6"
			>
				<h2 class="text-3xl text-slate-50">
					Cards found in localStorage
				</h2>
				<p class="text-xl text-slate-200">
					There's nothing? Import your cards with the menu.
				</p>
			</header>
			<FlashcardsList client:load />
		</section>
		<IOMenu />
	</main>
</Layout>

<script>
	// CREATE CARD
	const createCardBtn = document.getElementById("create-card");

	function addCardToList() {
		const cardText = document.getElementById("card") as HTMLInputElement;
		let cards = [];

		try {
			// If null (not there), set to empty array
			cards = JSON.parse(localStorage.getItem("cards")) ?? [];
			// TODO
			// add json schema validation
			if (cardText.value && cardText.value.localeCompare("") !== 0)
				cards.push(JSON.parse(cardText.value));
		} catch (e) {
			cards = [];
			console.error(e);
		}

		localStorage.setItem("cards", JSON.stringify(cards));
	}

	createCardBtn.addEventListener("click", addCardToList);
</script>
