---

---

<button
	id="export-json-cards"
	class="rounded-full font-semibold text-lg tracking-wide block py-3 px-6 text-slate-200 bg-slate-800 hover:bg-slate-700"
>
	Export
</button>

<script>
	import { setAndShowDialog } from "../stores/dialogStore.js";

	const exportBtn = document.getElementById("export-json-cards");

	function exportData() {
		const cards = JSON.parse(localStorage.getItem("cards"));

		if (cards && cards.length > 0) {
			// Create blob
			const blob = new Blob([JSON.stringify(cards)], {
				type: "application/json",
			});
			const url = URL.createObjectURL(blob);

			// Create a link element
			const a = document.createElement("a");
			a.href = url;
			a.download = "exported_flashcards.json";

			// Append the link to the document and trigger the click event
			document.body.appendChild(a);
			a.click();

			// Remove the link element
			document.body.removeChild(a);

			// Revoke the Blob URL to free up resources
			URL.revokeObjectURL(url);
		} else {
			setAndShowDialog(
				"No data to export",
				"Local storage is empty.",
				true,
			);
			console.error("No data to export.");
		}
	}

	exportBtn.addEventListener("click", exportData);
</script>
