---
import Dialog from "../components/Dialog";
import IOMenu from "../components/IOMenu.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A flashcards app for studying." />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content="Astro" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body
		class="flex flex-col items-center max-w-[1000px] min-h-screen m-auto line-numbers"
	>
		<Navbar
			items={[
				{ text: "Home", link: "/", arialabel: "Go to Home page" },
				{
					text: "Flashcards",
					link: "/flashcards",
					arialabel: "Go to Flashcards page",
				},
				{
					text: "Study",
					link: "/study",
					arialabel: "Go to Study page",
				},
			]}
		/>
		<IOMenu />
		<slot />
		<Dialog client:load />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #020617;
		margin: 0;
		padding: 0;
		color-scheme: dark light;
	}

	code {
		display: inline-block;
		background-color: #24292e;
		color: #e1e4e8;
		overflow-x: visible;
	}

	/* PrismJS 1.29.0 https://prismjs.com/download.html#themes=prism-tomorrow&languages=clike+c&plugins=line-numbers+toolbar+copy-to-clipboard */
	code[class*="language-"],
	pre[class*="language-"] {
		color: #ccc;
		background: 0 0;
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		font-size: 1em;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		line-height: 1.5;
		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
	pre[class*="language-"] {
		padding: 1em;
		overflow: auto;
	}
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: #2d2d2d;
	}
	:not(pre) > code[class*="language-"] {
		padding: 0.1em;
		border-radius: 0.3em;
		white-space: normal;
	}
	.token.block-comment,
	.token.cdata,
	.token.comment,
	.token.doctype,
	.token.prolog {
		color: #999;
	}
	.token.punctuation {
		color: #ccc;
	}
	.token.attr-name,
	.token.deleted,
	.token.namespace,
	.token.tag {
		color: #e2777a;
	}
	.token.function-name {
		color: #6196cc;
	}
	.token.boolean,
	.token.function,
	.token.number {
		color: #f08d49;
	}
	.token.class-name,
	.token.constant,
	.token.property,
	.token.symbol {
		color: #f8c555;
	}
	.token.atrule,
	.token.builtin,
	.token.important,
	.token.keyword,
	.token.selector {
		color: #cc99cd;
	}
	.token.attr-value,
	.token.char,
	.token.regex,
	.token.string,
	.token.variable {
		color: #7ec699;
	}
	.token.entity,
	.token.operator,
	.token.url {
		color: #67cdcc;
	}
	.token.bold,
	.token.important {
		font-weight: 700;
	}
	.token.italic {
		font-style: italic;
	}
	.token.entity {
		cursor: help;
	}
	.token.inserted {
		color: green;
	}
	pre[class*="language-"].line-numbers {
		position: relative;
		padding-left: 3.8em;
		counter-reset: linenumber;
	}
	pre[class*="language-"].line-numbers > code {
		position: relative;
		white-space: inherit;
	}
	.line-numbers .line-numbers-rows {
		position: absolute;
		pointer-events: none;
		top: 0;
		font-size: 100%;
		left: -3.8em;
		width: 3em;
		letter-spacing: -1px;
		border-right: 1px solid #999;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}
	.line-numbers-rows > span:before {
		content: counter(linenumber);
		color: #999;
		display: block;
		padding-right: 0.8em;
		text-align: right;
	}
	div.code-toolbar {
		position: relative;
		width: fit-content;
		max-width: 65ch;
	}
	div.code-toolbar > .toolbar {
		position: absolute;
		z-index: 10;
		top: 1em;
		right: 0.5em;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
	}
	div.code-toolbar:hover > .toolbar {
		opacity: 1;
	}
	div.code-toolbar:focus-within > .toolbar {
		opacity: 1;
	}
	div.code-toolbar > .toolbar > .toolbar-item {
		display: inline-block;
	}
	div.code-toolbar > .toolbar > .toolbar-item > a {
		cursor: pointer;
	}
	div.code-toolbar > .toolbar > .toolbar-item > button {
		background: 0 0;
		border: 0;
		color: inherit;
		font: inherit;
		line-height: normal;
		overflow: visible;
		padding: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	div.code-toolbar > .toolbar > .toolbar-item > a,
	div.code-toolbar > .toolbar > .toolbar-item > button,
	div.code-toolbar > .toolbar > .toolbar-item > span {
		color: #bbb;
		font-size: 0.8em;
		padding: 0.5em 0.5em;
		background: #f5f2f0;
		background: rgba(224, 224, 224, 0.2);
		box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
		border-radius: 0.5em;
	}
	div.code-toolbar > .toolbar > .toolbar-item > a:focus,
	div.code-toolbar > .toolbar > .toolbar-item > a:hover,
	div.code-toolbar > .toolbar > .toolbar-item > button:focus,
	div.code-toolbar > .toolbar > .toolbar-item > button:hover,
	div.code-toolbar > .toolbar > .toolbar-item > span:focus,
	div.code-toolbar > .toolbar > .toolbar-item > span:hover {
		color: inherit;
		text-decoration: none;
	}
</style>

<script type="module" src="/prism.js"></script>
<script>
	// Load mock data
	const cards = [
		{
			front: "what is this?",
			back: "a card",
			type: "text",
		},
		{
			front: "what is this then?",
			back: "another card",
			type: "text",
		},
		{
			front: "Guess the pokemon",
			back: "https://imgs.search.brave.com/1Az35rkFbVyqqHU8sgQ4qTScZk6L0su3z0grPTnWmNU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDIzOTM2/ODIuanBn",
			type: "image",
		},
		{
			front: "Guess the pokemon but base64",
			back: "/9j/4QC8RXhpZgAASUkqAAgAAAAGABIBAwABAAAAAQAAABoBBQABAAAAVgAAABsBBQABAAAAXgAAACgBAwABAAAAAgAAABMCAwABAAAAAQAAAGmHBAABAAAAZgAAAAAAAABIAAAAAQAAAEgAAAABAAAABgAAkAcABAAAADAyMTABkQcABAAAAAECAwAAoAcABAAAADAxMDABoAMAAQAAAP//AAACoAQAAQAAAPQBAAADoAQAAQAAABkBAAAAAAAA/9sAQwAGBAUGBQQGBgUGBwcGCAoQCgoJCQoUDg8MEBcUGBgXFBYWGh0lHxobIxwWFiAsICMmJykqKRkfLTAtKDAlKCko/9sAQwEHBwcKCAoTCgoTKBoWGigoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgo/8AAEQgBGQH0AwEiAAIRAQMRAf/EABwAAQACAgMBAAAAAAAAAAAAAAAFBgQHAQIDCP/EAEIQAAICAQIEAwYEBAMHAgcAAAABAgMEBREGEiExE0FRByJhcYGRFDKhsRUjQlIIcsEWJDM0YpLwotEmU2NzguHx/8QAGgEBAAIDAQAAAAAAAAAAAAAAAAIEAQMFBv/EADARAQACAQMDAQUIAgMAAAAAAAABAgMEESEFEjFBE1FhsfAiIzJxgZGh0RTBQuHx/9oADAMBAAIRAxEAPwD5UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPfBx/xWZTQns7ZqCfxb2QHgCbjo+PepxxtQqhkRly+Dkrwm/lLdx+7RaeC/ZZxBr2dVH+Hy8By62SsSqjHzlKab6fBdWR7oRm0R5UTFwcrK/5eiyxb7bxi2t/T5l94b9j/ABfrPh2LRsynGk1tZZDkTT9OZo+luG9C0LgvEjXpuPDL1CpLn1HIx+WNfTqqYte6vu35tkVrfEmZqGTOccycrZPaMXCbUF8G0vuWseCb+XH1nV66fisbyo9H+G7IhCueRqOCov8ANzZzT+S2qe5j5n+HytWOFWs6bW99vezJSf28JL9SSz8u3KyYOd8+RJwi5SfSO/fYjJajiQnNVXZMnDvYtuq+C7m2dPWPMqMdczW/DRCa77Atcw6ZXYDnlwj5UJXyfx2h1X1Rq7XOGtT0bJdGZjWRmu6cJRkvg4tJr7G+sHVqvGjDDy3Veur5udfVtd2viS2VxJRl4sMLifDq1bEb2rlOSdtfXo42r3t/gQtp/WstuHrk93blpMPlZrY4Nue0b2fU/h56xwvk2ahgQX8+LhHx8d79rYrv/nS2fmallFwk4yTTXRplaazXiXew5qZq91J3dQAYbQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD0x7JU312w/NCSkvmnueZk6dizzc/HxalvO6cYL6vYCR4gjGOsZUqm/Btm7of5Z+8v3PbQtbz9Iya54WZk46jNS3oscH+he/a3wPLh/Q+HNWqg/DzMaMLev5Jpc0U/i4NP7msa+6IRG8bS11mL1fTOqcZatDF0avKjZqkM/GWRG7fafI0ktvjvv3IHUNSyszHcNNzt93sqrI+DNfNeb+TZ5rJeR7MuA9USXNg5duDZY+nKoyUl+jLpr2gaRqGtapHU6bIV42RONeTTD3492n6Tilt36/Fmcea8fZ3cvV9Ppm+3ty1svxVePbO6cpWVxlCK5ubdyaXf4dTE06vFyKslSvvUa9pWSjBNJJ9u67ln1TRLMXIpqWZi6rh3dEt512/r6fHfYwdM0/A1GEsPRMvHnlWyUp4Vs1C+e3ZLfZT9dk9/gba239XIyYr4omJjn4MPEw8eOLZGnLyOe5rnm64J8u/Ze/5sWY9OLKhzyJuqjq01FOyXdJ7N+nYlMfDxsGc/4jZk+NRJTlCdar5pf0wW/Xbf0RiQwM7WtRdFGNVzz6wrjXJ7enbctVptHMcqcZe60zM8e/6+CurVMjBy55GHPmyJqSsk2nzp94Nea+BU9f02rKVmTjQlVb3dUv1im++3deq3XdGy7OF8enUa8S7MjZlynyPGwa3ba36b/lj9X0InX9PjjUapGjCrxsXTuXm8afi2zcntHfyXXfyI5O2tNry7Ghzx3xOKJlqjC0/LzpSjh41tzj1lyRbUfm/L6nTKxrcWxQvjyyaUl136EpqGsZ2VjfhpXSrwo9VjVe5Vv68q6N/F7s9eNoQo1pYdaW2Hj040tv741rn/8AU5FKJl6JXwASZAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACycAY34niTHj7266Ll7rmahuv8AuK2Xv2LKt+0HSXfs6o31uafZrnSa/UIZJ2pMvoPjeNHE2ocQcL3eF4GbJLT5y2/k3QilW16LdOLXo2fKeRj2Y2TZRdBwtrk4yi+8Wns0b4sy1PiTMTtudtWRZbKS6crU/P5spntYxK87PXEePGEZZeyy4RW21u3/ABF8J7b/AObc25YiY7quB0zW2rknFl9eYWL2fX16j7FOKMGcYSv0zLpz6+fqlGXLFv8ARmwuHLJ6q6smVrX4zCjdOce6nFdV9Wn/ANzNU+wm78Tk8TaLJdNT0e+EW+ylWvEj+xsj2aZis9n1WTbLluhkSwubfvCXLYl+6XzKsR9p3LJzCwIXZlyyI2RqcbVyTS6vbbnW3k+bb7eh8r67RZp+uZlXO/EpvnHm32a2k+p9b0z/APiHlrT8SKhVy90+V9l82/0PnT246fXpvtH1iiqPSc43c3k+eKfQlMbSUrDrovtKzqa4U67X/Faq/wAjtltYkvLnXVr5l/4Q4wu4ywOJMHFpjpjxtNvy8fGxXyKfLHrzS/NJ+fVnz++5tX/DfdSvaZjYt/5c7FyMP5udbS/Y2TkvEeVW3TNN3d0U5XX2J1X6hoGfOL3shfXjOMOj5bNuu/fyZzrWm4ubxfxxpmNCMo5mlPKpfk5wjXZFr6cx6/4eL14PE2l0KSylVXkVf5oOUf3af0PbU8eWH7WOEM2bjXTqmLTRZBPupxdM1t9iraN4WaUrXxDQ3C2Nj3cQY1mfB2YONzZeTD+6utc7j9dlH6kBqGVZnZ+Rl3ve6+yVs38ZNt/uW3WMV8PYGs493u5d934CMduvJCalY/vGtfVlLN1J35WHAAJsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMcJZlmFr+HOp7SlbCPb/ri1+qRDmTp1vgahjWr+i2M/s0wxMbxs+iNcwrc3iR5mEl+B1Nfi4ZO6UJRb3b3+DT3XfeLITVcHG1DGnHCyKrsW6DiurUmvJpP0a3M7Ssi/SND0/H967SMt2Kizb/l7JR2sqk/6Wm918Hv2bPOjFpxrpQycLNvpSUFPHfNKKS6c0H/+jfTa0RMPGajHfT5pjxt4VL2NZH8F9qekvMm4qNs6rebolGUJRe/3No+y2iiGdxHw7kWpxjlKVHL13lXNrovk0VPU9DwNQveRpGq4sczbl5cr+Rbv8ebpv8dz0wcDjDCyMvI0x1Y9+Zs7b6L63J799pJt7P4GLaa2+9XWp1ak13vx+fDesNDWl2y1TiHMwtOcJSsj498Ybt9m9/JNJ7dz5x9uH4HUtcqz8DUcPMjGqNDljSdnNy77PounR/oZOocMXKxvVsnOdj6zl4W8U++3PNrd/JM8MXA0zBbUtPyruZbystucF9NkupOdNH/K2xPVaTzjjf6+OzVc8TIS5nTOMfj0Lf7IMiWn+0fh3Mlv4dGbXOzr2jv1b+hc7sTAhTB18N4ji4qTcrLN235Lr1+JhzwMVwsljae8DnXK7Kd5Sfy530XyFtNE+LMx1juj8O37f6lN+zXIWhe1nV6FzrGsnk1c2+yceZyj1+i2LL7VdRwcXUdD1e5OyzBubgo9N2vDnHb4b9/qa8wOG9VrzpZuBK+1NNpSST6/FNr9TJ4n0/Vs5Yz1y/CxqKtm5WZMFJvbrtHfffoa40dpiYslHVMcztEwpPtX1R6xruNneEqvHodlkI9vFdkud/VpP6opBYuMcqrIyoRq6KEptL0i2tv9SumuYiJ2h18MzakTIADDYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcpN9gOAWLh3g3XuIrlVpGm5OVJx5964NpL1b7Fmt9ivHdcOeWh2bbb7KyPN9t90Z2mUJyVjzLXBf+FNFw9D02PEPEdXiymmtPwd9ndP++XpBb7/AGIvF4av0nLvu1unljiNfyNt/Gtb2jX8t029vJP1Nj8G8E6t7RderypUp4lPLXZK7dUUxS36tfme7b5V5vqVdR3W+7r6+f6/7WMNqRE3mV59ktmTqPs+4hz83Alfi5F0Y49DSULLoxfNKDf5dk119du5rzU85aZlXUZMsuWJCXLTkxlFZFL78vR7SS819tjfuvz4dxMPB0u2VuTVhw8Ommifg1J7+UY/+dTX2u4eh8QXrTFi14c79442XGW8Y2eSlv12bW2/xLFdLlx0iaeno89qtdpNRm7LefeoGNlzzoy8K7Dza0t3OVSnP6xa5jKVGFQoZGZj1V7PdSSnW2/LZJdin16RB6q8evOjg6hCTrVeRzV+8um3P2X16fEl82XF2gqEM3xZJp7StStg15bS6pr6inUMO8VvxLGXo2aY3wTvH7Lbj61dCHJp2fq9La33dnjR+0uux6V5usZV8PFw5Z8E+sq+aqaXrtLeP6Gv1xLqdSisnFomrOvJGmK3Xq+hm1cVW2VeFHBnWpdJeG66+b68u+xbrqMM8zZQt0jUxPFN5/f+pXrLrSv5acTVIW7+9dfiu9xXpBtpL6IxNSnkUQhGONRgxl7yydXasusfrCpdl9OnqVV69n4tTePOOOkuniZiaj8lCO+5WMi3UNSyZc187XZLZygmnNvy3fVkf8zBXeYnduwdB1M2iLxtHx5+v13WXUNYoinPI1XL1Kyrze9ePD/8V+b4JFB1bXLcvIm8eKqqbez29+Xxb9fkXzO4UysHh9vUq/Ctul/Jrs3U7O+65fzNbdmVDiHhPN0vFxcx1SWNlRcq3vupbd0n6r0ezKdNfXV79s8O3h6fXR8W8/X6KzKTlJuTbb6ts4OTg2LYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA7Ri5SSit2z6G9i3sjw46fRxRxvS5YlktsLTpJqWS/KT8+X9zWfsV4dhxJ7QNNxsiLlh1SeRkf8A24Lml+231Po3jfjGUsaWqU7V3/8AAwqm9o1xUdpT+m+y+fwN+DF38z4hyeqa6dPWKY/xT4/tn63xVPCqniYzhgYaXhwx8XaqNSS69V6dtzX2s8Tx5rsTTK7VOPWVqm3O2e6SXq1u/UpGsavZkylO2yd04vq09o79/rt9jE0jVJYeY8yCnKdSdvXblUorePz6tFqcnG1I2h52uhyZPvc1ptLasdF/2v1GMdZyJrStGhGvIyN05ZNvecIN+be638ox+RbMriynAxcbTdEx6qMfpTTjY72hBb+8/j8W+5r/ABtSeFwro1PO41rF8d+fNdbKUm36tJQ+xA26h4GLVZGbndkS8Ot8u3JDf3pfV9PuYiKU+1Mcyzmy57z7Kk7RHH5/+M/O1m3I1aVdePKUHZyxukt99n332+pEW5NmZe8qmUoV8zgt+nL0233/APO5kYCWLXkZMHO6xtwhXzPljv16/T9zA1HULbJRacZbdowXuJ/sSm8zXeUceOIttSP1eHEWp/heI6p3U05NOoU15Uqr61OCct1LbzXVN9PUtelahpWnRShbqOjSlDxJxw7vFpin2ThP177blG43i8ni7Cx6Wk4Y1NPKn2fV/wCpn5EnmZORZWnKp2PZKO/RdF+h5HquCs5Zjx7/AK8Pe9Fnv0lbSvdNdGoVxl+K4d1N2P3Vm1WYdsvg+TZM5loE5V7WaLpVdabe+Jrcq38uu5RpZLx34NHMlttO1vZv4Lz2+Xc6XTyNuaEfGyG94QlHpXH12/ZHI9heJ+zO37/6mIdLfnyu1mJjaXR4v+y+mz/+tn6pOzb5djAxtY1C2ahh5Oh6JDn5Ix07GlZfJ79lKS33+qKjk3zeQo2S8XZ7vz2ZN42M6srWI40o1z/ERsU31ca7I+8189kSnDEVmb8z+s/OZQm877bpLNePpsfxGE7cvVrrOX+I5c/EmvXk8kl25ur9GWfhfO07Nnm6DrddN2j6vUsnHrs6+FPrzqEvKSfNs1/avUofEGZCzIhh4Uv91opjGvp1323lJv4tsjMTIdK0jKjzeHhZqg2n05Z9f3TLfT96ZK3n1n+J+vCp1Cv3FrV8xCoe0zhd8M8SZeHCasqracJ7bc8X2f6oppsr2sZbm8Om2SlbXT4Te/XpZJ/ouX7mtT088TMOdo8ts2Gt7eZAAYWQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbd/wAPdllGo65bjtK7+H2RXTfvKC/ZssvHGXXl6pXj43XFx4KqC9Et3KX1k2a/9iGvY2h8aU/xGfJp+TCVF8tt+VS2W/0ez+hedTxrMLXLMLIqrWbVOcJua7bb+fo113+Jaw3iKTDznVccxnrl9Nlj4L4Z0WHDles6/Qr5W2OGNjzm1F+s5JdWvh5kFxxk4uq4l9WDhY+HjY9cpwhRWocyi95br16efoc5OoOWlYGFRba6a4ymuu75pT6tee3+mxEfjYzWoqxpRyfExqV67rq/guy+bNu8TXhyqWyWv378R6fqysSyjVeCtOups9/CsePel15ei5Ht8Yprf1TMXL2lfGxZGNCXJy1wbe6S+SK1wlquTomqOEqZZGm51fh5NL/t37r0lF9n/wC5N6jjQqjXkY1vjUTk/Ds5dm16NeTNeLJXLTnzC9n03scu0zxPMfqxtVzqqKasSNynGhc1mye0py2835LZHlo+dh+LXfmt/gsROcop7uyW++y9W3t9ERupYmRdlV0Y0E8zLsbhGK3fKk+/ze/2PPRdLzM/KjDdNQ3ldKyXuwS7s1anXU08be50tJ03/Jp21nz9SlNL8bVtenqE6/FtlY7LaI/mitujh6tLpt8Cx5eHkfw6mWA7MjBc9oOhcq+U13i/n38myIwKsbTd50SsnZV/MjKtuKi9/wAzl3b9EuxYtHzcrU3k3Ylcac6uCnkXcq8G2G/VXR7J/wDUv36nktXlte/tPT4vU4sEaWkY6+IYWLQ8OLvyt5QinyqS62z8oxT/AKV5sibs7KuhHxH4am3JwS7ryJ7Lem6g68mdzwox3ShlWNQk13cX1ezfqdsfhyvN58y3VdMeP0UnHJiuX4ddtitGStftZPkx3b+ENHFlWqWq23KKkoeTb7b/AELFRTStWzJQlvLI0/HcVv3bXJt933+B7ZeNRGLrWoaZTD1/Ec+y+PKm236LZEXk3Vy1FU4k77N8SuqMqKXKUoqx9Y77Lfv39TEWnLE/l/SM8bMXLhGKz50QSoU1jUJdXL4/ZfqdL8WUuFqsajpO7UPGlt3cKYby2+G8vui12aZl1UVxp0fGoxopzV+p5STbfd8sWt/TsVHW9WjiW41c76p0y8TG3xquSqCs6dPN/P4GzTZJy2iKek/n8ks8b0mrWPFOc87U5t2Oxxb5peTk3u9vgu30IYydSjyahlQ/ttmv1ZjHrIjaHNrWKxFY8QAAykAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD0pslVZGcHs0zZ+ncXfxrFq/iVrnm0Vqrx5JNyqS2UJv4dlL06PyNWHrjX2Y10baZOM49mjMTtO8NGo09c9O2zaebkTlPxVhXqzo1apuUNvLbbp+pgY8r8/U6aa6rLJyklCutby6eW37syOBNf0TLsji6toeF4iWyvU7K4p7/wBfLLpF+vZefQuGfrbwXlYmkaPjaVFRasjTW/Fm35ubbk19dmXK2i1N4eez92mn2cU5/j5tc6/j26HqahdOXi8zuUoy6Ld9Yp+ezWxn6TxHZqkXj1YNUMlvaMoRbTfxj6nvrmN/HdBTrr5M3D5rIx/+ZD+pL49n9Cwf4baKY8S6rnWVVzuwsCd1EbFunZulF7ee3co2icU91fV0MFaavDEZfx14WXT+E8rg3hbJ1bWHFcSaovw+FTy808WuS9+xrym49EvJP1ZYND4Ls03RsfHylhaXVbFW2rMp8e6zr05u0YrtsmyyaBkq1ZnEeuKOROFyWFXZ1XjyW+6fokl8mUfiLW7LbrrM3MuvsT2m4yck5t9o+u3+hrp0ymrn2maeGrVdVvoZjDgjmfr+U1bosbrLP4J/AdUhVHmeNXjRpsk/JbyW23xW5TcrVIUpQ4i8OU1Nyho+JF049Ul1/mtdZtej+5xj6rHEsslByjKtpqc5rv8ADpt0OeKbP9stCnmYyrq4gw4OU3U01l1RW73XfnS+6RV1XQMVY7sPn68T9Sno+vZJvEaiOPe8K+M9Tty691hTxZbQjVHHrcIr0Sa6IzMbjXwq5uWBp/gprlgsWtJyfw2/U15h3qUJZVSUdk4zUX0T27r0Mqpy/DwlJbx/Ml/dJ/8Asl+pwr6HF7nrtovETVb8njPWM5Wfh44+JjqL5rKqIQ5frt3+RiX2ZC1Ky3JyL7/wunVW9ZNqVkpLbf8A7vsiL8G7MVWJW5zUdpz5f6pPpFL9vuTmu+FS+JZz/wCH49GBGK/rVcW3t9l9zXFKY57aR5/uISmnMQg9fvtr1CvH8ST9yEpvfdybXNt9OZI7Y2hS1/K0jTKpxWRlbv8Ay7t8v193f5Mi8y5LLsnfYvxUlzSXlSn02/zdV8jaXsX0uWM9R4xz4eHj4lSxsSM+07WlHePryx/VnS0uC170rVDX5qYMNrWfOHFOFPA1nIqsjyy5m2t99nu9/wBdyILl7VoVLjDUpUJ+HLLv5d/TxH/ruU07223Dk47d1YkAATAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHpRdZRbGymcoTj1UovZl94f4ooysaGLqM5V3VdaZqXK4/CMm9kv8Apl09Guxr4Eq2ms7w05sFM1drw2bm58fHUqocuTW91OG8Jb+vLtt/oyX4L1SvTNap1amMaq8hSqvgukISXvP6S2TX19DU+LqGRj8qjLmjHtGXXb5en0LHg8QU5NFtWda8ec0lzeDzxk12ba2ktvkzdbJS9Zi0KM6K2Lacb6Dr1iL9nemwph1uvtthNJp7y3T39GktvpuUWEq77p1eKlTTytye/ffb9tzvw/qSu9nuRRTlV5n4W9ScoxaXJNS3js0n5GFRz6hi/wAuty3nGFUdtlOb3W/x2S+xvx2iMcRDg6rHPtr2t8Pkxbl+KxszIul4WPGajHbfeUm/yr/zsRunZluDZ+KrXK6JpVrf+rf/APu5Ia1fJ41en0QcKqbJPn/KpdEpSfze+30InUlFYeJTFqTjHxHt5yk+j+3KvqzZSu8brGGvdXaY4n5MHCy4x1HUaorlrfNKMF5dd0ifyrp741MFzVRrjFbfmnPbeXX67fQgNM0jKz9Tzsipwrx42ctmRZLlrr9XKXw9O78i+6Y8fTceF9WSsLCrg4rVLK+a+7d9Vj1Pqt3/AFvb6djyHUJrTLPbzP19e973p89unru9tLuydPrqjZQ6cmMndVhx6y2S6WWt9kn12f6FZytUs/Bww4uNuRjzsyZSj1U5zfWXx2SR46xxQrceeHpuPHDw373hubstyJf32zfd/Dot/IzeD+AdS1R42ra1e9D0iMvEWZkL37V6VV95/PsQ0uitee60ctWr1dNPHfeXX2f8LZPGWtrEqlKjArfi52dJe7RBf1Nvz9E+7NocacTYV+NgcNcObV6Tiw8KuafWUdt3Nv5JtvzI3iziDC0nRcbhvhyt4uBbF32xm/fvcu0rJeuy327LfYoGZlrStCzNRuca5ZNcqMZSfvSi91KSX05V85eh6vSaONPXvt5+Tx/UNdfqUxWn4Z8fGf6jyoHHOdDP4hyLa2nF9d0993JuT/WTK+dpScpNt7t9TqVJned3oKV7KxWPQABhIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOUt3sgNv8AsNreTpnE9Nu/4ZafO2UvSULK3H6vmkvqSV+Xk0Y0aqYJ5G7sXKvybrlSj8l+7JD2d6bjcK+zvJjrWoY+nZ+u2QlCualOf4eHXtFPbmlt39DrqfD+dkYccjSbpahjKXLzYjctvmns/ui1jrPa8t1G1Lajnx/Cl5svAolXKEr8mz+mK5lWv+r4tnfh+meZfkzzIz2prVsum2yi1t9N/wBiyT4J1u+pbRzX097xLI1wh/mfMYa0XO4dWfVkxXg5GFfX4ynFxnLwptJbN+ZbraKxunhy48sdlLcyp2Txli8lFVGlOVWO96Y25EnBS85uCSTk/NvcxM7jbMy5uU8TDc3/AFWxlc//AFya2+hVWcHG9jj337Yenra1a9sTw3H7INdeRrCv1PE0+6NKssrj+Erit41tpNJL+pxLDna1m5tt+drN0svMe8lXJPlgl26eSX9qNE6VqmVpeRC/DtlXZF7ppmztF9rTTi9a0/By7dknbZjRjJ/Fyhs39myxh7az7nE6nosuee6nPweVGlatrupPNthNxbcnKT2328k/RevZFd49tt1HN/3e+u2jGiq1TXJe6orbdeq7lm4k9omNqWNKmi+3Go35pV4vNvZ6Rbklsv8Azqa21PVJ5lsnXBU1t9Ip7yfzl5lnNmrNe2smg0+eLxkzViu3ER7kaDk4KTtAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHaubrmpxe0k90zqAJfJ4k1jIjCNmpZXLCPLFRscdl6dDvh8TarjS3WdlSe2yk7Zcy+T3IUGd0Jx1tG0wsc+MdZfLyZk48vbdKX777fQxcniTU8qallZU7WvXZfsQwM90+d2K4cdOK1iHLOACLYAADk4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//2Q==",
			type: "image",
		},
		{
			front: "Last, what is this",
			back: "// not a normal card",
			type: "code",
		},
	];
	localStorage.setItem("cards", JSON.stringify(cards));
</script>
